@import "tailwindcss";

:root {
  --primary: #C8102E;
  --secondary: #00aeaf;
  --surface: #ffffff;
  --dark: #000000;
}


@font-face {
  font-family: "Albertus";
  src: url('../assets/fonts/albertus-nova.woff2') format('woff2'),
       url('../assets/fonts/albertus-nova.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--surface);
  color: var(--dark);
  font-family: 'Albertus', serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

::selection {
  background: var(--primary);
  color: white;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 5s linear forwards;
}

@keyframes heroZoom {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.15);
  }
}